{% extends 'base.html' %}
{%block titulo%}Cadastro de Usuário | {%endblock%}
{% block conteudo %}
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Primeiro Nome" value="{{request.POST.nome}}">
        </div>
        <div class="form-group">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Sobrenome" value="{{request.POST.sobrenome}}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{request.POST.email}}">
        </div>
        <div class="form-group">
            <label for="usuario">Usuário</label>
            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario" value="{{request.POST.usuario}}">
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" value="{{request.POST.senha}}">
        </div>
        <div class="form-group">
            <label for="repsenha">Repetir Senha</label>
            <input type="password" class="form-control" id="repsenha" name="repsenha" placeholder="Repetir senha" value="{{request.POST.repsenha}}">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
{% endblock %}