{% extends 'base.html' %}
{%block titulo%}{{contato.nome}} | {%endblock%}
{%block conteudo%}
<div class="row form-group pt-2">
    {% if contato.foto%}
        <div class="col-md-2">
            <img src="{{ contato.foto.url }}" height="80px" width="80px">
        </div>
    {%endif%}
        <div class="col-md d-flex justify-content-start">
            <strong>Nome: </strong>{{contato.nome}} {{contato.sobrenome}}
        </div>
    <!-- <div class="col-md d-flex justify-content-end">
        <strong>Criado em: </strong>{{contato.data_criacao|date:'d/m/Y'}}
    </div> -->
</div>
<div class="row form-group">
    <div class="col-md">
        <strong>Telefone: </strong>{{contato.telefone}}
    </div>
    <div class="col-md">
        <strong>email: </strong>{{contato.email}}
    </div>
    <div class="col-md d-flex justify-content-end">
        <strong>Categoria: </strong>{{contato.categoria}}
    </div>
</div>
<div class="row form-group">
    <div class="col-md">
        <h5><strong>Descrição: </strong>{{contato.descricao}}</h5>
    </div>
</div>
{%endblock%}